<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-homepage/custom-homepage.css" rel="stylesheet">
</head>

<body>
    <!-- container -->
    <div class="container">
        <div class="">
        <!-- title -->
        <div class="d-flex flex-column align-items-center px-242px">
            <div>
                <span class="heading-2 text-greyscale-900">Những lựa chọn tốt nhất</span>
            </div>
            <div class="mt-4 text-center">
                <span class="body-16-medium text-greyscale-500">Chúng tôi cung cấp các dịch vụ và khu nghỉ dưỡng cao
                    cấp,
                    phục vụ cho nhu cầu du lịch và giải trí cho mọi đối tượng, lứa tuổi</span>
            </div>
        </div>
        <!-- grid -->
        <div class="d-flex gap-20px mt-40px">
            <!-- 1st -->
            <div class="best-option-card">
                <img src="/libary/homepage/home/option-img-1.png" alt="">
                <div class="">
                    <div class="px-3 py-12px">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="/libary/homepage/svg/villa-small.svg" alt="">
                                <span class="body-14-medium text-semantic-1 ml-1">Biệt thự</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="body-14-medium text-greyscale-900 mr-1">4.5</span>
                                <img src="/libary/homepage/svg/star-option.svg" alt="">
                            </div>
                        </div>
                        <div class="mt-2px">
                            <span class="heading-5 text-greyscale-900">Royal Executive Duplex</span>
                        </div>
                        <div class="d-flex align-items-center mt-1">
                            <img src="/libary/booking_detail/svg/location.svg" alt="">
                            <span class="body-14-medium text-greyscale-400 ml-2px">Flamingo Cát Bà</span>
                        </div>
                        <div class="mt-1">
                            <span class="body-12-medium text-greyscale-700">Chỉ từ</span>
                            <span class="body-18-bold text-main-secondary">1,540,000đ</span>
                            <span class="body-12-medium text-greyscale-700">/đêm</span>
                        </div>
                    </div>
                    <div class="divider-200"></div>
                    <div class="d-flex align-items-center px-3 pb-3 mt-12px gap-25px">
                        <div class="d-flex align-items-center">
                            <img src="/libary/homepage/svg/users-group.svg" alt="">
                            <span class="body-14-medium text-greyscale-700 ml-1">4-8</span>
                            <span class="body-14-medium text-greyscale-700 ml-1">người</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <img src="/libary/booking_detail/svg/home-2.svg" alt="">
                            <span class="body-14-medium text-greyscale-700 ml-1">3</span>
                            <span class="body-14-medium text-greyscale-700 ml-1">phòng</span>

                        </div>
                        <div class="d-flex align-items-center">
                            <img src="/libary/homepage/svg/square.svg" alt="">
                            <span class="body-14-medium text-greyscale-700 ml-1">70</span>
                            <span class="body-14-medium text-greyscale-700 ml-1">m<sup
                                    class="body-8-sup text-greyscale-700">2</sup></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2nd -->
            <div style="" class="best-option-card">
                <img src="/libary/homepage/home/option-img-2.png" alt="">
                <div class="">
                    <div class="px-3 py-12px">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="/libary/homepage/svg/hotel.svg" alt="">
                                <span class="body-14-medium text-semantic-1 ml-1">Khách sạn</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="body-14-medium text-greyscale-900 mr-1">4.5</span>
                                <img src="/libary/homepage/svg/star-option.svg" alt="">
                            </div>
                        </div>
                        <div class="mt-2px">
                            <span class="heading-5 text-greyscale-900">Imperial Suites</span>
                        </div>
                        <div class="d-flex align-items-center mt-1">
                            <img src="/libary/booking_detail/svg/location.svg" alt="">
                            <span class="body-14-medium text-greyscale-400 ml-2px">Flamingo Cát Bà</span>
                        </div>
                        <div class="mt-1">
                            <span class="body-12-medium text-greyscale-700">Chỉ từ</span>
                            <span class="body-18-bold text-main-secondary">1,540,000đ</span>
                            <span class="body-12-medium text-greyscale-700">/đêm</span>
                        </div>
                    </div>
                    <div class="divider-200"></div>
                    <div class="d-flex align-items-center px-3 pb-3 mt-12px gap-25px">
                        <div class="d-flex align-items-center">
                            <img src="/libary/homepage/svg/users-group.svg" alt="">
                            <span class="body-14-medium text-greyscale-700 ml-1">4</span>
                            <span class="body-14-medium text-greyscale-700 ml-1">người</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <img src="/libary/homepage/svg/bed.svg" alt="">
                            <span class="body-14-medium text-greyscale-700 ml-1">2</span>
                            <span class="body-14-medium text-greyscale-700 ml-1">giường</span>

                        </div>
                        <div class="d-flex align-items-center">
                            <img src="/libary/homepage/svg/square.svg" alt="">
                            <span class="body-14-medium text-greyscale-700 ml-1">70</span>
                            <span class="body-14-medium text-greyscale-700 ml-1">m<sup
                                    class="body-8-sup text-greyscale-700">2</sup></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3rd -->
            <div style="" class="best-option-card">
                <img src="/libary/homepage/home/option-img-3.png" alt="">
                <div class="">
                    <div class="px-3 py-12px">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="/libary/homepage/svg/hotel.svg" alt="">
                                <span class="body-14-medium text-semantic-1 ml-1">Khách sạn</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="body-14-medium text-greyscale-900 mr-1">4.5</span>
                                <img src="/libary/homepage/svg/star-option.svg" alt="">
                            </div>
                        </div>
                        <div class="mt-2px">
                            <span class="heading-5 text-greyscale-900">Executive Mountain View</span>
                        </div>
                        <div class="d-flex align-items-center mt-1">
                            <img src="/libary/booking_detail/svg/location.svg" alt="">
                            <span class="body-14-medium text-greyscale-400 ml-2px">Flamingo Cát Bà</span>
                        </div>
                        <div class="mt-1">
                            <span class="body-12-medium text-greyscale-700">Chỉ từ</span>
                            <span class="body-18-bold text-main-secondary">1,540,000đ</span>
                            <span class="body-12-medium text-greyscale-700">/đêm</span>
                        </div>
                    </div>
                    <div class="divider-200"></div>
                    <div class="d-flex align-items-center px-3 pb-3 mt-12px gap-25px">
                        <div class="d-flex align-items-center">
                            <img src="/libary/homepage/svg/users-group.svg" alt="">
                            <span class="body-14-medium text-greyscale-700 ml-1">4</span>
                            <span class="body-14-medium text-greyscale-700 ml-1">người</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <img src="/libary/booking_detail/svg/home-2.svg" alt="">
                            <span class="body-14-medium text-greyscale-700 ml-1">2</span>
                            <span class="body-14-medium text-greyscale-700 ml-1">phòng</span>

                        </div>
                        <div class="d-flex align-items-center">
                            <img src="/libary/homepage/svg/square.svg" alt="">
                            <span class="body-14-medium text-greyscale-700 ml-1">70</span>
                            <span class="body-14-medium text-greyscale-700 ml-1">m<sup
                                    class="body-8-sup text-greyscale-700">2</sup></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex gap-20px mt-40px">
            <!-- 1st -->
            <div class="best-option-card">
                <img src="/libary/homepage/home/option-img-1.png" alt="">
                <div class="">
                    <div class="px-3 py-12px">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="/libary/homepage/svg/villa-small.svg" alt="">
                                <span class="body-14-medium text-semantic-1 ml-1">Biệt thự</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="body-14-medium text-greyscale-900 mr-1">4.5</span>
                                <img src="/libary/homepage/svg/star-option.svg" alt="">
                            </div>
                        </div>
                        <div class="mt-2px">
                            <span class="heading-5 text-greyscale-900">Royal Executive Duplex</span>
                        </div>
                        <div class="d-flex align-items-center mt-1">
                            <img src="/libary/booking_detail/svg/location.svg" alt="">
                            <span class="body-14-medium text-greyscale-400 ml-2px">Flamingo Cát Bà</span>
                        </div>
                        <div class="mt-1">
                            <span class="body-12-medium text-greyscale-700">Chỉ từ</span>
                            <span class="body-18-bold text-main-secondary">1,540,000đ</span>
                            <span class="body-12-medium text-greyscale-700">/đêm</span>
                        </div>
                    </div>
                    <div class="divider-200"></div>
                    <div class="d-flex align-items-center px-3 pb-3 mt-12px gap-25px">
                        <div class="d-flex align-items-center">
                            <img src="/libary/homepage/svg/users-group.svg" alt="">
                            <span class="body-14-medium text-greyscale-700 ml-1">4-8</span>
                            <span class="body-14-medium text-greyscale-700 ml-1">người</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <img src="/libary/booking_detail/svg/home-2.svg" alt="">
                            <span class="body-14-medium text-greyscale-700 ml-1">3</span>
                            <span class="body-14-medium text-greyscale-700 ml-1">phòng</span>

                        </div>
                        <div class="d-flex align-items-center">
                            <img src="/libary/homepage/svg/square.svg" alt="">
                            <span class="body-14-medium text-greyscale-700 ml-1">70</span>
                            <span class="body-14-medium text-greyscale-700 ml-1">m<sup
                                    class="body-8-sup text-greyscale-700">2</sup></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2nd -->
            <div style="" class="best-option-card">
                <img src="/libary/homepage/home/option-img-1.png" alt="">
                <div class="">
                    <div class="px-3 py-12px">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="/libary/homepage/svg/villa-small.svg" alt="">
                                <span class="body-14-medium text-semantic-1 ml-1">Biệt thự</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="body-14-medium text-greyscale-900 mr-1">4.5</span>
                                <img src="/libary/homepage/svg/star-option.svg" alt="">
                            </div>
                        </div>
                        <div class="mt-2px">
                            <span class="heading-5 text-greyscale-900">Royal Executive Duplex</span>
                        </div>
                        <div class="d-flex align-items-center mt-1">
                            <img src="/libary/booking_detail/svg/location.svg" alt="">
                            <span class="body-14-medium text-greyscale-400 ml-2px">Flamingo Cát Bà</span>
                        </div>
                        <div class="mt-1">
                            <span class="body-12-medium text-greyscale-700">Chỉ từ</span>
                            <span class="body-18-bold text-main-secondary">1,540,000đ</span>
                            <span class="body-12-medium text-greyscale-700">/đêm</span>
                        </div>
                    </div>
                    <div class="divider-200"></div>
                    <div class="d-flex align-items-center px-3 pb-3 mt-12px gap-25px">
                        <div class="d-flex align-items-center">
                            <img src="/libary/homepage/svg/users-group.svg" alt="">
                            <span class="body-14-medium text-greyscale-700 ml-1">4-8</span>
                            <span class="body-14-medium text-greyscale-700 ml-1">người</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <img src="/libary/booking_detail/svg/home-2.svg" alt="">
                            <span class="body-14-medium text-greyscale-700 ml-1">3</span>
                            <span class="body-14-medium text-greyscale-700 ml-1">phòng</span>

                        </div>
                        <div class="d-flex align-items-center">
                            <img src="/libary/homepage/svg/square.svg" alt="">
                            <span class="body-14-medium text-greyscale-700 ml-1">70</span>
                            <span class="body-14-medium text-greyscale-700 ml-1">m<sup
                                    class="body-8-sup text-greyscale-700">2</sup></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3rd -->
            <div style="" class="best-option-card">
                <img src="/libary/homepage/home/option-img-1.png" alt="">
                <div class="">
                    <div class="px-3 py-12px">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="/libary/homepage/svg/villa-small.svg" alt="">
                                <span class="body-14-medium text-semantic-1 ml-1">Biệt thự</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="body-14-medium text-greyscale-900 mr-1">4.5</span>
                                <img src="/libary/homepage/svg/star-option.svg" alt="">
                            </div>
                        </div>
                        <div class="mt-2px">
                            <span class="heading-5 text-greyscale-900">Royal Executive Duplex</span>
                        </div>
                        <div class="d-flex align-items-center mt-1">
                            <img src="/libary/booking_detail/svg/location.svg" alt="">
                            <span class="body-14-medium text-greyscale-400 ml-2px">Flamingo Cát Bà</span>
                        </div>
                        <div class="mt-1">
                            <span class="body-12-medium text-greyscale-700">Chỉ từ</span>
                            <span class="body-18-bold text-main-secondary">1,540,000đ</span>
                            <span class="body-12-medium text-greyscale-700">/đêm</span>
                        </div>
                    </div>
                    <div class="divider-200"></div>
                    <div class="d-flex align-items-center px-3 pb-3 mt-12px gap-25px">
                        <div class="d-flex align-items-center">
                            <img src="/libary/homepage/svg/users-group.svg" alt="">
                            <span class="body-14-medium text-greyscale-700 ml-1">4-8</span>
                            <span class="body-14-medium text-greyscale-700 ml-1">người</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <img src="/libary/booking_detail/svg/home-2.svg" alt="">
                            <span class="body-14-medium text-greyscale-700 ml-1">3</span>
                            <span class="body-14-medium text-greyscale-700 ml-1">phòng</span>

                        </div>
                        <div class="d-flex align-items-center">
                            <img src="/libary/homepage/svg/square.svg" alt="">
                            <span class="body-14-medium text-greyscale-700 ml-1">70</span>
                            <span class="body-14-medium text-greyscale-700 ml-1">m<sup
                                    class="body-8-sup text-greyscale-700">2</sup></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-40px">
            <button class="body-16-bold text-white button-homepage mt-24px d-flex align-items-center" id="">Xem tất cả
                điểm đến
                <img src="/libary/homepage/svg/white-arrow-right.svg" class="ml-2" alt=""></button>
        </div>
    </div>
    </div>
</body>

</html>