<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-homepage/custom-homepage.css" rel="stylesheet">
</head>

<body>
    <!-- container -->
    <div class="container">
        <div class="d-flex py-60px gap-92px align-items-center">
            <div>
                <div class="d-flex flex-column gap-24px">
                    <span class="heading-2 text-greyscale-900">Ưu đãi đặc biệt dành cho bạn</span>
                    <span class="body-16-medium text-greyscale-500">Vô vàn ưu đãi hấp dẫn đang chờ bạn khám phá</span>
                </div>
                <button class="body-16-bold text-white button-homepage mt-24px d-flex align-items-center">Đặt phòng ngay
                    <img src="/libary/homepage/svg/white-arrow-right.svg" class="ml-2" alt=""></button>
            </div>
            <div class="d-flex gap-40px">
                <div>
                    <img src="/libary/homepage/svg/voucher.svg" alt="">
                    <div class="d-flex flex-column mt-12px gap-16px">
                        <span class="body-18-bold text-greyscale-900">Siêu deal thư thái</span>
                        <span class="body-16-medium text-greyscale-500">Nghỉ dưỡng 5 sao và trải nghiệm đẳng cấp quốc
                            tế</span>
                    </div>
                </div>
                <div class="">
                    <img src="/libary/homepage/svg/bathrobe.svg" alt="">
                    <div class="d-flex flex-column mt-12px gap-16px">
                        <span class="body-18-bold text-greyscale-900">Buffet Spa</span>
                        <span class="body-16-medium text-greyscale-500">Thư giãn và giải toả mọi căng thẳng mệt
                            mỏi</span>
                    </div>
                </div>
                <div class="">
                    <img src="/libary/homepage/svg/together.svg" alt="">
                    <div class="d-flex flex-column mt-12px gap-16px">
                        <span class="body-18-bold text-greyscale-900">Happy together</span>
                        <span class="body-16-medium text-greyscale-500">Niềm vui nhân đôi khi du lịch cùng gia đình và
                            bạn bè</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>