<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-homepage/custom-homepage.css" rel="stylesheet">
</head>

<body>
    <!-- container -->
    <div class="container">
        <div class="d-flex">
            <div class="d-flex gap-40px">
                <div>
                    <div class="d-flex flex-column">
                        <img src="/libary/homepage/home/showcase-news-img.png" alt="">
                        <span class="body-18-bold text-greyscale-900 mt-3">Luxury Skylake Villa - Lựa chọn hàng đầu của bạn
                            trong
                            các mùa du lịch</span>
                    </div>
                    <button class="body-14-medium text-semantic-1 mt-18px">
                        <img src="/libary/homepage/svg/blue-line.svg" class="mr-18px" alt="">
                        Xem ngay
                    </button>
                </div>
                <div>
                    <div class="d-flex flex-column">
                        <img src="/libary/homepage/home/showcase-news-img.png" alt="">
                        <span class="body-18-bold text-greyscale-900 mt-3">Luxury Skylake Villa - Lựa chọn hàng đầu của bạn
                            trong
                            các mùa du lịch</span>
                    </div>
                    <button class="body-14-medium text-semantic-1 mt-18px">
                        <img src="/libary/homepage/svg/blue-line.svg" class="mr-18px" alt="">
                        Xem ngay
                    </button>
                </div>
                <div>
                    <div class="d-flex flex-column">
                        <img src="/libary/homepage/home/showcase-news-img.png" alt="">
                        <span class="body-18-bold text-greyscale-900 mt-3">Luxury Skylake Villa - Lựa chọn hàng đầu của bạn
                            trong
                            các mùa du lịch</span>
                    </div>
                    <button class="body-14-medium text-semantic-1 mt-18px">
                        <img src="/libary/homepage/svg/blue-line.svg" class="mr-18px" alt="">
                        Xem ngay
                    </button>
                </div>
            </div>
            <div class="ml-48px">
                <div class="d-flex flex-column gap-24px">
                    <span class="heading-3 text-greyscale-900">Tin tức & Sự kiện </span>
                    <span class="body-16-medium text-greyscale-500">Hàng trăm ưu đãi đang chờ đón bạn,
                        đến ngay Flamingo để trải nghiệm 
                        dịch vụ của chúng tôi dành riêng cho bạn</span>
                </div>
                <button class="body-16-bold text-white button-homepage mt-24px d-flex align-items-center">Khám phá ngay
                    <img src="/libary/homepage/svg/white-arrow-right.svg" class="ml-2" alt=""></button>
            </div>
        </div>
    </div>
    </div>
</body>

</html>