<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- main css -->
    <link href="/css/main.css" rel="stylesheet">
    <!-- plugin css -->
    <link href="/node_modules/@splidejs/splide/dist/css/splide.min.css" rel="stylesheet">
    <!-- custom css -->
    <link href="/css/custom-homepage/custom-slide-show.css" rel="stylesheet">
</head>

<body>
    <!-- container -->
    <div class="" id="slide-section">
        <div class="">
            <!-- scroll comment  -->
            <section id="newSplide" class="splide" aria-label="customer-comment">
                <div class="splide__track">
                    <ul class="splide__list">

                        <li class="splide__slide">
                            <div class="d-flex card-comment-home">
                                <div>
                                    <img src="/libary/homepage/avatar/avatar-1.png" alt="">
                                </div>
                                <div class="d-flex flex-column gap-24px">
                                    <div>
                                        <span class="heading-4 text-black">Robert Fox</span>
                                    </div>
                                    <div>
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                    </div>
                                    <div>
                                        <span class="body-18-medium text-gray">Giá của khách sạn rất tốt so với những gì
                                            chúng tôi nhận được. Chúng tôi rất hài lòng về dịch vụ của bạn. Cảm ơn bạn
                                            đã cho gia đình tôi một kỳ nghỉ trọn vẹn. </span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="d-flex card-comment-home">
                                <div>
                                    <img src="/libary/homepage/avatar/avatar-2.png" alt="">
                                </div>
                                <div class="d-flex flex-column gap-24px">
                                    <div>
                                        <span class="heading-4 text-black">Robert Fox</span>
                                    </div>
                                    <div>
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                    </div>
                                    <div>
                                        <span class="body-18-medium text-gray">Giá của khách sạn rất tốt so với những gì
                                            chúng tôi nhận được. Chúng tôi rất hài lòng về dịch vụ của bạn. Cảm ơn bạn
                                            đã cho gia đình tôi một kỳ nghỉ trọn vẹn. </span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="d-flex card-comment-home">
                                <div>
                                    <img src="/libary/homepage/avatar/avatar-1.png" alt="">
                                </div>
                                <div class="d-flex flex-column gap-24px">
                                    <div>
                                        <span class="heading-4 text-black">Robert Fox</span>
                                    </div>
                                    <div>
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                    </div>
                                    <div>
                                        <span class="body-18-medium text-gray">Giá của khách sạn rất tốt so với những gì
                                            chúng tôi nhận được. Chúng tôi rất hài lòng về dịch vụ của bạn. Cảm ơn bạn
                                            đã cho gia đình tôi một kỳ nghỉ trọn vẹn. </span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="d-flex card-comment-home">
                                <div>
                                    <img src="/libary/homepage/avatar/avatar-2.png" alt="">
                                </div>
                                <div class="d-flex flex-column gap-24px">
                                    <div>
                                        <span class="heading-4 text-black">Robert Fox</span>
                                    </div>
                                    <div>
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                        <img src="/libary/homepage/svg/big-star-fill.svg" alt="">
                                    </div>
                                    <div>
                                        <span class="body-18-medium text-gray">Giá của khách sạn rất tốt so với những gì
                                            chúng tôi nhận được. Chúng tôi rất hài lòng về dịch vụ của bạn. Cảm ơn bạn
                                            đã cho gia đình tôi một kỳ nghỉ trọn vẹn. </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>

    <!-- Plugins script JS -->
    <script src="/node_modules/@splidejs/splide/dist/js/splide.js"></script>
    <!-- Custom JS -->
    <script src="/js/custom-slide.js"></script>
</body>

</html>