.news-content-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    padding: 24px;
    background: var(--other-background-2);
    border-radius: 16px;
}

.news-images {
    width: 40%;
    max-width: 452px;
    padding: 0;
    margin: 0;
}

.news-images img {
    width: 100%;
    max-width: 452px;
    border-radius: 10px;
}

.news-title-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 60%;
    max-width: 588px;
}

.news-link {
    color: var(--main-secondary);
    display: flex;
    align-items: center;
    gap: 8px;
}

a:hover.news-link {
    color: var(--grayscale-700);
}

a:hover.news-link svg path {
    stroke: var(--grayscale-700);
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.pagination a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-back.disable,
.pagination-forward.disable {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.pagination-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 8px 16px 5.33px 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--grayscale-400);
    border-radius: 100%;
    background: var(--other-white);
    box-shadow: 0px 4px 40px rgba(14, 8, 84, 0.1);
}

.pagination-break {
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-align: center;
    letter-spacing: -0.005em;
    color: var(--grayscale-400);
}

.pagination-items:hover {
    color: var(--other-white);
    background: var(--main-secondary);
}

.pagination-items.active {
    color: var(--other-white);
    background: var(--main-secondary);
}

.new-details-container{
    display: flex;
    flex-direction: column;
    gap: 54px;
    padding: 32px;
    border-radius: 32px;
    background: var(--other-white);
    z-index: 2;
}
.news-detail-images{
    width: calc(50% - 16px);
}
.news-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 1440px) {
    .news-detail-wrapper {
        width: 1440px;
        max-width: 1440px;
        padding: 0 55px;
        margin: 0 auto;
        margin-top: 38px;

    }
    .bg-detail-images{
        height: 500px;
        background: url('/libary/news/new-detail-1.png');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 25px;
    }
}
