/* page layout */
.signin-signup-wrapper {
  display: flex;
}

/* custom slide show image */
.custom-slide-lef-show {
  width: 50%;
  background: var(--grayscale-50);
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* custom slide show image */
.custom-slide-lef-show {
  width: 50%;
  background: var(--grayscale-50);
  padding-bottom: 90px;
}

.logo-signin {
  width: 100%;
  padding: 40px 84px;
}

/* Slideshow container */
.splide-custom {
  max-width: 490px;
  position: relative;
  margin: 0 134px;
}

.splide__pagination{
  bottom: 0 !important;
  margin-bottom: -30px !important;
  display: flex;
  gap: 16px;
  padding: 0 !important;
  justify-content: start !important;
}

.splide__pagination__page{
  width: 9px !important;
  height: 9px !important;
  background: rgba(169, 169, 169, 0.4);
  scale: 1 !important;
  border-radius: 5px !important;
}
.splide__pagination__page.is-active{
  width: 28px !important;
  height: 9px !important;
  background: var(--main-secondary) !important;
  scale: 1 !important;
}


/* right content */
.right-side-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  align-items: center;
  padding: 0 140px;
}

.right-side-container {
  max-width: 450px;
  display: flex;
  flex-direction: column;
}


/* Caption text */
.text {
  color: var(--grayscale-100);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--grayscale-100);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 9px;
  width: 9px;
  margin: 0 2px;
  background-color: var(--grayscale-300);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--main-secondary);
  width: 28px;
  border-radius: 5px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

.step-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.number-step-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  width: 28px;
  height: 28px;
  background: var(--main-secondary);
  border-radius: 40px;
}

.number-step-done {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 9px 9px 8px;
  width: 28px;
  height: 28px;
  background: transparent;
  border: 1px solid var(--main-secondary);
  border-radius: 40px;
}

.number-step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  width: 28px;
  height: 28px;
  background: var(--secondary-200);
  border-radius: 40px;
}

.empty-account-validate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 12px;
  background: #FFEDED;
  border-radius: 8px;
}

.show-password {
  margin-left: -40px;
  cursor: pointer;
  z-index: 2;
}

.divider-continue-with {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.divider-text {
  padding: 0 40px;
  margin-bottom: -6px;
  background-color: var(--other-white);
  z-index: 2;
}

.divider-continue {
  width: 100%;
  height: 1px;
  background-color: var(--other-line);
}

.social-signin {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background: #FFFFFF;
  box-shadow: 0px 2px 32px rgba(109, 139, 175, 0.12);
  border-radius: 100px;
}

.input-field {
  display: flex;
  gap: 32px;
}

.input-field input {
  height: 48px;
  width: 48px;
  border-radius: 16px;
  outline: none;
  text-align: center;
  background: var(--other-base);
  border: 1px solid transparent;
}

input.input-number-active {
  border: 1px solid var(--semantic-1);
}

.input-field input:focus {
  height: 48px;
  width: 48px;
  border-radius: 16px;
  outline: none;
  text-align: center;
  border: 1px solid var(--semantic-1);
}

.input-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
  display: none;
}

.error-signup-otp {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  background: var(--other-white);
  border: 1px solid var(--grayscale-200);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
