<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-profile/custom-profile.css" rel="stylesheet">
</head>

<body>
    <!-- container -->
    <div class="container">
        <div style="width: 384px;">
            <div>
                <div>
                    <span class="heading-3 text-greyscale-900">Tài khoản</span>
                </div>
                <div class="mt-3">
                    <span class="body-16-regular text-greyscale-400">Cung cấp thông tin cá nhân là cách chúng tôi có thể
                        liên lạc với bạn</span>
                </div>
            </div>
            <div class="profile-leftnav mt-32px">
                <ul class="d-flex flex-column gap-16px">
                    <li><a href=""><img src="/libary/profile/svg/user-ircle.svg" class="mr-12px" alt="">Thông tin cá
                            nhân</a></li>
                    <li><a href=""><img src="/libary/profile/svg/luggage.svg" class="mr-12px" alt="">Danh sách đặt
                            phòng</a></li>
                    <li><a href=""><img src="/libary/profile/svg/heart-angle.svg" class="mr-12px" alt="">Địa điểm yêu
                            thích</a></li>
                    <li><a href=""><img src="/libary/profile/svg/dialog.svg" class="mr-12px" alt="">Tin nhắn</a></li>
                    <li><a href=""><img src="/libary/profile/svg/medal-ribbon.svg" class="mr-12px" alt="">Đánh giá</a>
                    </li>
                    <li><a href=""><img src="/libary/profile/svg/shield-check.svg" class="mr-12px" alt="">Bảo mật</a>
                    </li>
                    <li><a href=""><img src="/libary/profile/svg/headphones.svg" class="mr-12px" alt="">Hỗ trợ từ OTG</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>