<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-modal_room-detail/custom-modal.css" rel="stylesheet">
</head>

<body>
    <div class="selected-services-modal" id="selected-services-modal" name="selected-services-modal" style="display: block;">
        <div class="selected-services-modal-content custom_scroll">
                <div class="d-flex py-4 pb-32px justify-content-between position_close-modal-top bg-white">
                    <span class="heading-5 text-greyscale-900">Thông tin dịch vụ</span>
                    <button type="close" class="body-16-medium text-greyscale-900 padding-none">
                        <img src="/libary/svg/CloseCircle-Modal-black.svg" alt="">
                    </button>
                </div>
                <!-- card -->
                <div class="d-flex mt-2 px-3 py-3 border-semantic-1 rounded-8px position-relative">
                    <!-- img cold -->
                    <div>
                        <img src="/libary/room_detail/selected-services-modal/showcase-img.png" alt="">
                    </div>
                    <!-- info col -->
                    <div class="ml-3">
                        <div>
                            <span class="body-16-bold text-greyscale-900">Body and Soul spa</span>
                        </div>
                        <div class="mt-1">
                            <span class="body-14-medium text-greyscale-700 truncate-2-row">Lorem ipsum dolor sit amet
                                consectetur. Turpis facilisis tristique viverra praesent quam metus sed</span>
                        </div>
                        <div class="pr-44px mt-12px">
                            <div class="d-flex align-items-center selected-services_filter-info">
                                <img src="/libary/room_detail/svg/blue-calendar.svg" alt="">
                                <span class="body-14-medium text-greyscale-900 ml-1">20/11/2022</span>
                            </div>
                        </div>
                    </div>
                    <div class="trash-can">
                        <img src="/libary/room_detail/svg/trash-can.svg" alt="">
                    </div>
                </div>
                <div class="d-flex mt-12px px-3 py-3 border-semantic-1 rounded-8px position-relative">
                    <!-- img cold -->
                    <div>
                        <img src="/libary/room_detail/selected-services-modal/showcase-img.png" alt="">
                    </div>
                    <!-- info col -->
                    <div class="ml-3">
                        <div>
                            <span class="body-16-bold text-greyscale-900">Body and Soul spa</span>
                        </div>
                        <div class="mt-1">
                            <span class="body-14-medium text-greyscale-700 truncate-2-row">Lorem ipsum dolor sit amet
                                consectetur. Turpis facilisis tristique viverra praesent quam metus sed</span>
                        </div>
                        <div class="pr-44px mt-12px">
                            <div class="d-flex align-items-center selected-services_filter-info">
                                <img src="/libary/room_detail/svg/blue-calendar.svg" alt="">
                                <span class="body-14-medium text-greyscale-900 ml-1">20/11/2022</span>
                            </div>
                        </div>
                    </div>
                    <div class="trash-can">
                        <img src="/libary/room_detail/svg/trash-can.svg" alt="">
                    </div>
                </div>
                <div class="d-flex mt-12px px-3 py-3 border-semantic-1 rounded-8px position-relative">
                    <!-- img cold -->
                    <div>
                        <img src="/libary/room_detail/selected-services-modal/showcase-img.png" alt="">
                    </div>
                    <!-- info col -->
                    <div class="ml-3">
                        <div>
                            <span class="body-16-bold text-greyscale-900">Body and Soul spa</span>
                        </div>
                        <div class="mt-1">
                            <span class="body-14-medium text-greyscale-700 truncate-2-row">Lorem ipsum dolor sit amet
                                consectetur. Turpis facilisis tristique viverra praesent quam metus sed</span>
                        </div>
                        <div class="pr-44px mt-12px">
                            <div class="d-flex align-items-center selected-services_filter-info">
                                <img src="/libary/room_detail/svg/blue-calendar.svg" alt="">
                                <span class="body-14-medium text-greyscale-900 ml-1">20/11/2022</span>
                            </div>
                        </div>
                    </div>
                    <div class="trash-can">
                        <img src="/libary/room_detail/svg/trash-can.svg" alt="">
                    </div>
                </div>
                <div class="d-flex mt-12px px-3 py-3 border-semantic-1 rounded-8px position-relative">
                    <!-- img cold -->
                    <div>
                        <img src="/libary/room_detail/selected-services-modal/showcase-img.png" alt="">
                    </div>
                    <!-- info col -->
                    <div class="ml-3">
                        <div>
                            <span class="body-16-bold text-greyscale-900">Body and Soul spa</span>
                        </div>
                        <div class="mt-1">
                            <span class="body-14-medium text-greyscale-700 truncate-2-row">Lorem ipsum dolor sit amet
                                consectetur. Turpis facilisis tristique viverra praesent quam metus sed</span>
                        </div>
                        <div class="pr-44px mt-12px">
                            <div class="d-flex align-items-center selected-services_filter-info">
                                <img src="/libary/room_detail/svg/blue-calendar.svg" alt="">
                                <span class="body-14-medium text-greyscale-900 ml-1">20/11/2022</span>
                            </div>
                        </div>
                    </div>
                    <div class="trash-can">
                        <img src="/libary/room_detail/svg/trash-can.svg" alt="">
                    </div>
                </div>
                <div class="d-flex mt-12px px-3 py-3 border-semantic-1 rounded-8px position-relative">
                    <!-- img cold -->
                    <div>
                        <img src="/libary/room_detail/selected-services-modal/showcase-img.png" alt="">
                    </div>
                    <!-- info col -->
                    <div class="ml-3">
                        <div>
                            <span class="body-16-bold text-greyscale-900">Body and Soul spa</span>
                        </div>
                        <div class="mt-1">
                            <span class="body-14-medium text-greyscale-700 truncate-2-row">Lorem ipsum dolor sit amet
                                consectetur. Turpis facilisis tristique viverra praesent quam metus sed</span>
                        </div>
                        <div class="pr-44px mt-12px">
                            <div class="d-flex align-items-center selected-services_filter-info">
                                <img src="/libary/room_detail/svg/blue-calendar.svg" alt="">
                                <span class="body-14-medium text-greyscale-900 ml-1">20/11/2022</span>
                            </div>
                        </div>
                    </div>
                    <div class="trash-can">
                        <img src="/libary/room_detail/svg/trash-can.svg" alt="">
                    </div>
                </div>

                <div class="w-100 d-flex justify-content-center p-16px mt-32px">
                    <button id="" name="" type="submit"
                        class="button-50-semantic-1-rounder-8 text-white body-16-bold">Lưu</button>
                </div>
        </div>
    </div>
</body>

</html>