<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-modal_room-detail/custom-modal.css" rel="stylesheet">
</head>

<body>
    <!-- modal confirm delete -->
    <div class="modal-confirm-delete-review" id="modal-confirm-delete-review" name="modal-confirm-delete-review" style="display: block;">
        <div class="modal-confirm-delete-review-content">
            <div class="d-flex justify-content-center">
                <span class="heading-5 text-greyscale-900 text-center">Bạn chắc chắn muốn xoá
                    đánh giá của mình?</span>
            </div>
            <div class="d-flex gap-24px mt-4">
                <button class="button-cancel-delete body-16-bold text-main-secondary">Hủy</button>
                <button class="button-confirm-delete body-16-bold text-white">Xác nhận</button>
            </div>
        </div>
    </div>
</body>

</html>