<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/main.css" rel="stylesheet">
    <link href="/css/custom-booking-detail/custom-booking-detail.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="w-60">
            <div class="card-option-disable-container">
                <div class="card-option disable mt-4">
                    <div class="d-flex ">
                        <!-- img -->
                        <div class="room-preview-image">
                            <img src="/libary//booking_detail/selection-card/showcase-room-selected.png"
                                class="your-choice-card-banner-image" alt="" />
                            <button type="" class="your-choice-card-button">
                                <img src="/libary/booking_detail/svg/eye-white-small.svg" alt="" />
                                <span class="body-10-bold text-greyscale-50 ml-2">Xem chi tiết</span>
                            </button>
                        </div>
                        <!-- info -->
                        <div class="ml-4 w-100">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/booking_detail/svg/home.svg" alt="">
                                    <span class="body-14-medium text-semantic-1 ml-1">Phòng loại II</span>
                                </div>
                            </div>
                            <div class="mt-2px">
                                <span class="heading-5 text-greyscale-700">Phòng Hoa Hướng dương</span>
                            </div>
                            <div class="d-flex mt-2 gap-12px">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <img src="/libary/booking_detail/svg/user-plus.svg" alt="">
                                    </div>
                                    <div>
                                        <span class="body-14-medium text-greyscale-900 ml-6px">2 người lớn</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <img src="/libary/booking_detail/svg/user-plus.svg" alt="">
                                    </div>
                                    <div>
                                        <span class="body-14-medium text-greyscale-900 ml-6px">2 trẻ em</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <img src="/libary/booking_detail/svg/bed.svg" alt="">
                                    </div>
                                    <div>
                                        <span class="body-14-medium text-greyscale-900 ml-6px">1 giường phụ</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <img src="/libary/booking_detail/svg/edit.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- price room -->
                        <div>
                            <div>
                                <span class="heading-5 text-success">1.540.000đ</span>
                            </div>
                            <div class="d-flex justify-content-end">
                                <span class="body-14-regular text-greyscale-400">/đêm</span>
                            </div>
                        </div>
                    </div>
                    <!-- detail prices -->
                    <div class="d-flex gap-32px mt-3 align-items-center prices-detail">
                        <div>
                            <div>
                                <span class="body-14-medium text-greyscale-500">Giá phòng</span>
                            </div>
                            <div>
                                <span class="body-16-bold text-greyscale-900">4,620,000đ</span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <span class="body-14-medium text-greyscale-500">Phụ thu người lớn</span>
                            </div>
                            <div>
                                <span class="body-16-bold text-greyscale-900">600,000đ</span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <span class="body-14-medium text-greyscale-500">Phụ thu trẻ em</span>
                            </div>
                            <div>
                                <span class="body-16-bold text-greyscale-900">600,000đ</span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <span class="body-14-medium text-greyscale-500">Phụ thu giường phụ</span>
                            </div>
                            <div>
                                <span class="body-16-bold text-greyscale-900">600,000đ</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-option-disable">
                    <div class="d-flex flex-column justify-content-center align-items-center gap-24px">
                        <span class="heading-5 text-white">Lựa chọn này của bạn không còn trống. Vui lòng chọn lại</span>
                        <button class="button-fit-6-20-main-secondary-gradient body-14-bold text-white">Gợi ý dành cho bạn</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>