<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
    <div class="detail-w-60-calc">
        <div class="py-3 pl-3 pr-18px box-shadow-1 rounded-16px">
            <div class="d-flex">
                <!-- img -->
                <div>
                    <img src="/libary/booking_detail/selected-house/showcase-house-img.png" alt="">
                </div>
                <!-- info -->
                <div class="ml-4 w-100">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <img src="/libary/booking_detail/svg/house.svg" alt="">
                            <span class="body-14-medium text-semantic-1 ml-1">Biệt thự</span>
                        </div>
                        <div>
                            <span class="body-14-bold text-semantic-1">Thay đổi</span>
                        </div>
                    </div>
                    <div>
                        <span class="heading-5 text-greyscale-900">Hoàng Anh Villa</span>
                    </div>
                    <div class="d-flex mt-2 align-items-center gap-20px">
                        <div class="d-flex align-items-center">
                            <img src="/libary/booking_detail/svg/user.svg" alt="">
                            <span class="body-14-medium text-greyscale-900 ml-1">10 người</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <img src="/libary/booking_detail/svg/home-2.svg" alt="">
                            <span class="body-14-medium text-greyscale-900 ml-1">5 phòng ngủ</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <img src="/libary/booking_detail/svg/acreage.svg" alt="">
                            <span class="body-14-medium text-greyscale-900 ml-1">200m<sup class="body-14-medium text-greyscale-900">2</sup></span>
                        </div>
                    </div>
                    <div class="d-flex mt-2 align-items-center">
                        <div class="d-flex align-items-center">
                            <img src="/libary/room_detail/svg/star.svg" alt="" />
                            <span id="rating-text-1" class="body-14-medium text-greyscale-900 px-1">4.5</span>
                            <span id="rating-text-2" class="body-14-medium text-greyscale-400">(35 đánh giá)</span>
                        </div>
                        <div class="d-flex align-items-center ml-3">
                            <img src="/libary/booking_detail/svg/location.svg" alt="">
                            <span class="body-14-medium text-greyscale-900 ml-1">Flamingo Đại Lải Resort</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>