<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-edit-booking.css" rel="stylesheet">
</head>

<body>
    <div id="modal-out-of-edit-change" class="modal-out-of-edit-change" name="modal-out-of-edit-change" style="display: block;">
        <div class="modal-out-of-edit-change-content">
            <div class="text-center">
                <span class="heading-6 text-greyscale-900">Bạn đã hết quyền thay đổi thông tin liên hệ</span>
            </div>
            <div  class="mt-2 text-center">
                <span class="body-18-medium text-greyscale-500">Nếu có yêu cầu hay liên hệ trực tiếp chủ nhà hoặc qua chat box.</span>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4 px-20px">
                <button class="button-50-bg-main-rounder-8 body-16-bold text-white">Tôi đã hiểu</button>
            </div>
        </div>
    </div>
</body>

</html>