<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-edit-booking.css" rel="stylesheet">
    <link href="/css/custom-payment/custom-payment.css" rel="stylesheet">
</head>

<body>
    <div id="modal-success-edit-info" class="modal-success-edit-info" style="display: block;">
        <div class="modal-success-edit-info-content">
            <div class="d-flex flex-column" style="z-index: 2;">
                <div class="d-flex justify-content-center" style="z-index: 2;">
                    <img src="/libary/booking_detail/illus.png/Illus.png" alt="">
                </div>
                <div class="text-confirm mt-4"  style="z-index: 2;">
                    <div class="d-flex flex-column align-items-center gap-6px">
                        <span class="heading-3 text-greyscale-900">Chỉnh sửa thành công</span>
                        <span class="body-16-medium text-greyscale-500">Thông tin liên hệ đã được cập nhật</span>
                    </div>
                    <div class="d-flex justify-content-center" style="z-index: 2;">
                        <button class="button-50-bg-main-rounder-8 body-16-bold text-white" id="btn_close-modal">Đóng</button>
                    </div>
                </div>
            </div>

            <!-- custom illus -->
            <img src="/libary/booking_detail/illus.png/Ellipse 77.png" class="illu-1" alt="">
            <img src="/libary/booking_detail/illus.png/Ellipse 76.png" class="illu-2" alt="">
        </div>
    </div>
</body>

</html>