<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-edit-booking.css" rel="stylesheet">
</head>

<body>
    <div id="modal-confirm-edit" class="modal-confirm-edit" name="modal-confirm-edit" style="display: block;">
        <div class="modal-confirm-edit-content">
            <div class="px-55px text-center">
                <span class="heading-5 text-greyscale-900">Bạn chắc chắn muốn chỉnh sửa
                    đơn đặt phòng?</span>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-24px mt-4 px-40px" style="z-index: 2;">
                <button class="button-50-bg-white-rounder-8 body-16-bold text-main-secondary">Hủy</button>
                <button class="button-50-bg-main-rounder-8 body-16-bold text-white">Xác nhận</button>
            </div>
        </div>
    </div>
</body>

</html>