<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-booking-detail/custom-booking-detail.css" rel="stylesheet">
</head>

<body>
    <div id="modal-edit-history" class="modal-edit-history" name="modal-edit-history" style="display: block;">
        <div class="modal-edit-history-content">
            <div class="d-flex justify-content-between px-1 py-2">
                <span class="heading-3 text-black">Lịch sử chỉnh sửa</span>
                <img src="/libary/room_detail/svg/close.svg" alt="" id="close-edit-history" class="cursor-pointer">
            </div>
            <div class="current-orders mt-4">
                <div class="d-flex justify-content-between">
                    <div>
                        <span class="body-14-medium text-greyscale-900">MÃ ĐẶT PHÒNG :</span>
                        <span class="body-14-medium text-greyscale-900" id="">776476467276</span>
                    </div>
                    <span class="body-14-medium text-semantic-1">Đơn đặt phòng đang được áp dụng</span>
                </div>
                <div class="divider-x my-12px"></div>
                <div class="d-flex flex-column gap-20px">
                    <div class="w-50 d-flex justify-content-between">
                        <div class="d-flex align-items-center gap-10px">
                            <img src="/libary/booking_detail/svg/filled-check-circle.svg" alt="">
                            <span class="body-12-bold text-success">Đã đặt phòng</span>
                        </div>
                        <span class="body-12-regular text-greyscale-500">21/10/2022 14:54</span>
                    </div>
                    <div class="w-50 d-flex justify-content-between">
                        <div class="d-flex align-items-center gap-10px">
                            <img src="/libary/booking_detail/svg/small-check-circle.svg" alt="">
                            <span class="body-12-regular text-greyscale-900">Chờ thanh toán</span>
                        </div>
                        <span class="body-12-regular text-greyscale-500">21/10/2022 14:54</span>
                    </div>
                    <div class="w-50 d-flex justify-content-between">
                        <div class="d-flex align-items-center gap-10px">
                            <img src="/libary/booking_detail/svg/small-check-circle.svg" alt="">
                            <span class="body-12-regular text-greyscale-900">Yêu cầu chỉnh sửa</span>
                        </div>
                        <span class="body-12-regular text-greyscale-500">21/10/2022 14:54</span>
                    </div>
                </div>
                
            </div>
            <div class="old-orders mt-4">
                <div>
                    <span class="body-14-medium text-greyscale-900">MÃ ĐẶT PHÒNG :</span>
                    <span class="body-14-medium text-greyscale-900" id="">776476467276</span>
                </div>
                <div class="divider-x-100"></div>
                <div class="d-flex flex-column gap-20px mt-4">
                    <div class="w-50 d-flex justify-content-between">
                        <div class="d-flex align-items-center gap-10px">
                            <img src="/libary/booking_detail/svg/small-check-circle.svg" alt="">
                            <span class="body-12-bold text-greyscale-900">Đã đặt phòng (đang yêu cầu sửa)</span>
                        </div>
                        <span class="body-12-regular text-greyscale-500">21/10/2022 14:54</span>
                    </div>
                    <div class="w-50 d-flex justify-content-between">
                        <div class="d-flex align-items-center gap-10px">
                            <img src="/libary/booking_detail/svg/small-check-circle.svg" alt="">
                            <span class="body-12-bold text-greyscale-900">Đã đặt phòng</span>
                        </div>
                        <span class="body-12-regular text-greyscale-500">21/10/2022 14:54</span>
                    </div>
                    <div class="w-50 d-flex justify-content-between">
                        <div class="d-flex align-items-center gap-10px">
                            <img src="/libary/booking_detail/svg/small-check-circle.svg" alt="">
                            <span class="body-12-bold text-greyscale-900">Chờ thanh toán</span>
                        </div>
                        <span class="body-12-regular text-greyscale-500">21/10/2022 14:54</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>