<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/main.css" rel="stylesheet">
        <link href="/css/custom-payment/custom-payment.css" rel="stylesheet">
    </head>
    <body>
        <!-- container -->
        <div style="width: 370px; padding: 0px 24px;">
            <!-- button  style 1-->
            <button type="" class="button-gradient body-16-bold text-white">Đặt lại</button>
            <button type="" class="button-gradient body-16-bold text-white">Chỉnh sửa đặt phòng</button>
            <button type="" class="button-gradient body-16-bold text-white">Đánh giá</button>
            <button type="" class="button-gradient body-16-bold text-white">Đồng ý hủy đơn</button>
            <button type="" class="button-gradient body-16-bold text-white">Đồng ý chỉnh sửa</button>
            
            <!-- button style 2 -->
            <button type="" class="button-payment body-16-bold text-warning">Hủy đặt phòng</button>
            <button type="" class="button-payment body-16-bold text-warning">Đặt lại</button>
        </div>
    </body>
</html>