<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-payment/custom-payment.css" rel="stylesheet">
</head>

<body>
    <div id="modal-confirm-cancel" class="modal-confirm-cancel" name="modal-confirm-cancel" style="display: block;">
        <div class="modal-confirm-cancel-content">
            <div class="d-flex justify-content-center">
                <span class="heading-4 text-greyscale-900">Bạn chắc chắn muốn huỷ đơn</span>
            </div>
            <div class="mt-32px px-75px text-center">
                <span class="body-18-medium text-greyscale-500">Khách thuê cần trả phí khi huỷ đặt phòng sát ngày là
                    1,000,000đ</span>
            </div>
            <div class="d-flex justify-content-center gap-12px mt-32px px-129px">
                <button class="button-confirm-cancel body-16-bold text-white">Xác nhận</button>
                <button class="button-payment body-16-bold text-warning">Hủy</button>
            </div>
        </div>
    </div>
</body>

</html>