<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-payment/custom-payment.css" rel="stylesheet">
</head>

<body>
    <div id="modal-qr" class="modal-qr" name="modal-qr">
        <div class="modal-qr-content">
            <div>
                <div class="border-bottom-line px-4 pb-4">
                    <div class="d-flex justify-content-between align-items-center ">
                        <span class="heading-4 text-greyscale-900">Mã QR check-in</span>
                        <img src="/libary/payment/svg/small-close-circle.svg" alt="">
                    </div>
                    <div class="mt-1">
                        <span class="body-16-medium text-greyscale-500">Quý khách vui lòng cung cấp mã QR này cho bảo vệ
                            để
                            thực hiện check-in tại cổng.</span>
                    </div>
                </div>
                <div class="d-flex justify-content-center py-12px">
                    <img src="/libary/payment/modal-qr/QR-code.png" alt="">
                </div>
                <div class="px-4 pt-4 text-center">
                    <div>
                        <span class="body-18-medium text-greyscale-500">Chúc quý khách có một chuyến đi tuyệt vời!</span>
                    </div>
                    <div>
                        <span class="body-18-medium text-greyscale-500 ">Xin cảm ơn quý khách!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>