<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
    <div style="width: 418px" class="mt-">
        <div class="d-flex justify-content-between mt-4">
            <span class="body-16-medium text-1">Cần hoàn thành thanh toán trong</span>
            <span class="body-16-bold text-error">09:45</span>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-4">
            <div>
                <span class="body-16-bold text-greyscale-900">MÃ ĐẶT PHÒNG :</span>
                <span class="body-16-bold text-greyscale-900" id="">776476467276</span>
            </div>
            <div>
                <img src="/libary/payment/svg/copy-icon.svg" class="cursor-pointer" alt="">
            </div>
        </div>

        <div class="divider-x-dash"></div>
    </div>
</body>

</html>