<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-payment/custom-payment.css" rel="stylesheet">
</head>

<body>
    <div style="width: 418px; margin-left: 50px; margin-top: 50px;">
        <!-- waitng  -->
        <div class="status-card">
            <div class="status-card-warning">
                <!-- info -->
                <div class="status-payment-info">
                    <div>
                        <img src="/libary/payment/svg/deital-icon.svg" alt="">
                    </div>
                    <div class="ml-12px">
                        <div>
                            <span class="body-16-bold text-greyscale-900">Chờ thanh toán</span>
                        </div>
                        <div>
                            <span class="body-14-medium text-greyscale-500">Hệ thống đã tiếp nhận đơn đặt phòng</span>
                        </div>
                        <div class="mt-1">
                            <span class="body-12-medium text-greyscale-400">21/10/2022 16:12</span>
                        </div>
                    </div>
                </div>
                <!-- status -->
                <div class="status-payment">
                    <div class="py-12px">
                        <span class="body-12-bold text-warning">CHỜ THANH TOÁN</span>
                    </div>
                    <div class="pl-12px border-left px-3 py-12px">
                        <span class="body-12-regular text-greyscale-300">Trạng thái</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- expire -->
        <div class="status-card">
            <div class="status-card-expire">
                <!-- info -->
                <div class="status-payment-info">
                    <div>
                        <img src="/libary/payment/svg/expire-icon.svg" alt="">
                    </div>
                    <div class="ml-12px">
                        <div>
                            <span class="body-16-bold text-greyscale-900">Quá hạn thanh toán</span>
                        </div>
                        <div>
                            <span class="body-14-medium text-greyscale-500">Đặt phòng đã huỷ do quá hạn thanh
                                toán</span>
                        </div>
                        <div class="mt-1">
                            <span class="body-12-medium text-greyscale-400">21/10/2022 16:12</span>
                        </div>
                    </div>
                </div>
                <!-- status -->
                <div class="status-payment">
                    <div class="py-12px">
                        <span class="body-12-bold text-error">HẾT HẠN THANH TOÁN</span>
                    </div>
                    <div class="pl-12px border-left px-3 py-12px">
                        <span class="body-12-regular text-greyscale-300">Trạng thái</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- cancel -->
        <div class="status-card">
            <div class="status-card-expire">
                <!-- info -->
                <div class="status-payment-info">
                    <div>
                        <img src="/libary/payment/svg/expire-icon.svg" alt="">
                    </div>
                    <div class="ml-12px">
                        <div>
                            <span class="body-16-bold text-greyscale-900">Đặt phòng đã huỷ</span>
                        </div>
                        <div>
                            <span class="body-14-medium text-greyscale-500">Đơn đặt phòng thanh toán không thành
                                công</span>
                        </div>
                        <div class="mt-1">
                            <span class="body-12-medium text-greyscale-400">21/10/2022 16:12</span>
                        </div>
                    </div>
                </div>
                <!-- status -->
                <div class="status-payment">
                    <div class="py-12px">
                        <span class="body-12-bold text-error">THANH TOÁN KHÔNG THÀNH CÔNG</span>
                    </div>
                    <div class="pl-12px border-left px-3 py-12px">
                        <span class="body-12-regular text-greyscale-300">Trạng thái</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- success -->
        <div class="status-card">
            <div class="status-card-success">
                <!-- info -->
                <div class="status-payment-info">
                    <div>
                        <img src="/libary/payment/svg/success-icon.svg" alt="">
                    </div>
                    <div class="ml-12px">
                        <div>
                            <span class="body-16-bold text-greyscale-900">Đặt phòng thành công</span>
                        </div>
                        <div>
                            <span class="body-14-medium text-greyscale-500">Đơn đặt phòng được thanh toán thành
                                công</span>
                        </div>
                        <div class="mt-1">
                            <span class="body-12-medium text-greyscale-400">21/10/2022 16:12</span>
                        </div>
                    </div>
                </div>
                <!-- status -->
                <div class="status-payment">
                    <div class="py-12px">
                        <span class="body-12-bold text-success">ĐÃ ĐẶT PHÒNG</span>
                    </div>
                    <div class="pl-12px border-left px-3 py-12px">
                        <span class="body-12-regular text-greyscale-300">Trạng thái</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- bottom status -->
        <div class="status-card-warning">
            <div class="status-payment-info">
                <div>
                    <img src="/libary/payment/svg/deital-icon.svg" alt="">
                </div>
                <div class="ml-12px">
                    <div>
                        <span class="body-16-bold text-greyscale-900">Chờ thanh toán</span>
                    </div>
                    <div>
                        <span class="body-14-medium text-greyscale-500">Hệ thống đã tiếp nhận đơn đặt phòng</span>
                    </div>
                    <div class="mt-1">
                        <span class="body-12-medium text-greyscale-400">21/10/2022 16:12</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- qr checkin -->
        <button type="" class=".button-payment body-16-bold text-warning"> Mã QR check-in</button>
    </div>
</body>

</html>