<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-payment/custom-payment.css" rel="stylesheet">
</head>

<body>
    <!-- container -->
    <div style="width: 670px;">
        <!-- title -->
        <div>
            <span class="heading-4 text-greyscale-900">Đánh giá</span>
        </div>
        <div class="card-rate">
            <div class="d-flex">
                <!-- avatar -->
                <div>
                    <img src="/libary/room_detail/avatar/commet_avatar_user.png" alt="">
                </div>
                <!-- rating info -->
                <div class="ml-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="body-18-bold text-greyscale-900">Đánh giá của bạn</span>
                        </div>
                        <div>
                            <span class="body-12-medium text-greyscale-700">10/05/2020 9:41</span>
                        </div>
                    </div>
                    <div class="mt-10px">
                        <div class="d-flex align-items-center">
                            <img src="/libary/room_detail/svg/full-rating-star.svg" alt="">
                            <img src="/libary/room_detail/svg/full-rating-star.svg" alt="">
                            <img src="/libary/room_detail/svg/full-rating-star.svg" alt="">
                            <img src="/libary/room_detail/svg/full-rating-star.svg" alt="">
                            <img src="/libary/room_detail/svg/half-rating-star.svg" alt="">
                            <span class="body-16-medium text-greyscale-900 ml-1">4.5</span>
                        </div>
                        <div class="mt-2">
                            <span class="body-16-medium text-greyscale-700">Phòng rất tuyệt vời, chủ nhà thân thiện, cơ
                                sở
                                vật chất đẹp. Có cơ hội nhất định sẽ quay
                                trở lại vào thời gian sớm nhất.</span>
                        </div>
                        <div class="d-flex gap-12px mt-2">
                            <img src="/libary/booking_detail/rating-img/showcase-rating-img.png" alt="">
                            <img src="/libary/booking_detail/rating-img/showcase-rating-img.png" alt="">
                            <img src="/libary/booking_detail/rating-img/showcase-rating-img.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="d-flex mt-3 justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img src="/libary/room_detail/svg/heart.svg" alt="">
                        <span class="body-14-medium text-greyscale-900 ml-1">32</span>
                    </div>
                    <div>
                        <img src="/libary/payment/svg/dark-blue-edit-icon.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>