<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/signin-signup.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">

        <!-- left slide show in sing in sign up -->
        <div class="custom-slide-lef-show">
            <div class="logo-signin">
                <!-- logo link -->
                <a href="/" class="p-0 m-0">
                    <img src="/libary/header_footer/right-footer-logo.svg" class="" alt="logo" />
                </a>
            </div>
            <!-- main slide container show -->
            <div class="slideshow-container">

                <!-- picture 1 and text -->
                <div class="mySlides fade">
                    <div class="numbertext">1/3</div>
                    <img src="/libary/signin/Rectangle 1.png">
                    <div class="d-flex flex-column mt-32px w-80">
                        <span class="heading-4 text-greyscale-900">Thuê phòng nhanh chóng</span>
                        <span class="body-16-regualar text-greyscale-500 mt-16px">Trải nghiệm trải nghiệm chuyên du lịch
                            tuyệt vời từ việc đặt phòng khách sạn.</span>
                    </div>
                </div>

                <!-- picture 2 and text -->
                <div class="mySlides fade">
                    <div class="numbertext">2/3</div>
                    <img src="/libary/signin/Rectangle 1.png">
                    <div class="d-flex flex-column mt-32px w-80">
                        <span class="heading-4 text-greyscale-900">Thuê phòng nhanh chóng 2</span>
                        <span class="body-16-regualar text-greyscale-500 mt-16px">Trải nghiệm trải nghiệm chuyên du lịch
                            tuyệt vời từ việc đặt phòng khách sạn.</span>
                    </div>
                </div>

                <!-- picture 3 and text -->
                <div class="mySlides fade">
                    <div class="numbertext">3/3</div>
                    <img src="/libary/signin/Rectangle 1.png">
                    <div class="d-flex flex-column mt-32px w-80">
                        <span class="heading-4 text-greyscale-900">Thuê phòng nhanh chóng 3</span>
                        <span class="body-16-regualar text-greyscale-500 mt-16px">Trải nghiệm trải nghiệm chuyên du lịch
                            tuyệt vời từ việc đặt phòng khách sạn.</span>
                    </div>
                </div>

                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>

            </div>

            <div style="text-align:start; margin: 16px 134px;">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>

        </div>
        <!-- main content sign in sign up -->
        <div class="w-50">
            <div>
            </div>
        </div>
    </div>
    <script src="/js/slide-show.js"></script>
</body>

</html>