<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/room-details/image-grid-box.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="image-grid-container">

            <div class="image-1">
                <img src="/libary/room_detail/slide-show/anh-1.png" class="" alt="ảnh biệt thự">
            </div>
            <div class="image-2">
                <img src="/libary/room_detail/slide-show/anh-2.png" class="image-2" alt="ảnh biệt thự">
            </div>
            <div class="image-3">
                <img src="/libary/room_detail/slide-show/anh-3.png" class="image-3" alt="ảnh biệt thự">
            </div>
            <div class="image-4 position-relative d-flex justify-content-center align-items-center">
                <img src="/libary/room_detail/slide-show/anh-3.png" class="image-4 image-filter" alt="ảnh biệt thự">
                <div class="button-3d" >
                    <button><img src="/libary/room_detail/slide-show/cube-2.svg" alt=""></button>
                </div>
            </div>
            <div class="image-5 position-relative d-flex">
                <img src="/libary/room_detail/slide-show/anh-2.png" class="image-5" style="filter: brightness(60%);" alt="ảnh biệt thự">
                <button id="" name="" class="button-show-all">Xem tất cả</button>
            </div>
        </div>        <div class="image-grid-container">

            <div class="image-1">
                <img src="/libary/room_detail/slide-show/anh-1.png" class="" alt="ảnh biệt thự">
            </div>
            <div class="image-2">
                <img src="/libary/room_detail/slide-show/anh-2.png" class="image-2" alt="ảnh biệt thự">
            </div>
            <div class="image-3">
                <img src="/libary/room_detail/slide-show/anh-3.png" class="image-3" alt="ảnh biệt thự">
            </div>
            <div class="image-4 position-relative d-flex justify-content-center align-items-center">
                <img src="/libary/room_detail/slide-show/anh-3.png" class="image-4 image-filter" alt="ảnh biệt thự">
                <div class="button-3d" >
                    <button><img src="/libary/room_detail/slide-show/cube-2.svg" alt=""></button>
                </div>
            </div>
            <div class="image-5 position-relative d-flex">
                <img src="/libary/room_detail/slide-show/anh-2.png" class="image-5" style="filter: brightness(60%);" alt="ảnh biệt thự">
                <button id="" name="" class="button-show-all">Xem tất cả</button>
            </div>
        </div>        <div class="image-grid-container">

            <div class="image-1">
                <img src="/libary/room_detail/slide-show/anh-1.png" class="" alt="ảnh biệt thự">
            </div>
            <div class="image-2">
                <img src="/libary/room_detail/slide-show/anh-2.png" class="image-2" alt="ảnh biệt thự">
            </div>
            <div class="image-3">
                <img src="/libary/room_detail/slide-show/anh-3.png" class="image-3" alt="ảnh biệt thự">
            </div>
            <div class="image-4 position-relative d-flex justify-content-center align-items-center">
                <img src="/libary/room_detail/slide-show/anh-3.png" class="image-4 image-filter" alt="ảnh biệt thự">
                <div class="button-3d" >
                    <button><img src="/libary/room_detail/slide-show/cube-2.svg" alt=""></button>
                </div>
            </div>
            <div class="image-5 position-relative d-flex">
                <img src="/libary/room_detail/slide-show/anh-2.png" class="image-5" style="filter: brightness(60%);" alt="ảnh biệt thự">
                <button id="" name="" class="button-show-all">Xem tất cả</button>
            </div>
        </div>        <div class="image-grid-container">

            <div class="image-1">
                <img src="/libary/room_detail/slide-show/anh-1.png" class="" alt="ảnh biệt thự">
            </div>
            <div class="image-2">
                <img src="/libary/room_detail/slide-show/anh-2.png" class="image-2" alt="ảnh biệt thự">
            </div>
            <div class="image-3">
                <img src="/libary/room_detail/slide-show/anh-3.png" class="image-3" alt="ảnh biệt thự">
            </div>
            <div class="image-4 position-relative d-flex justify-content-center align-items-center">
                <img src="/libary/room_detail/slide-show/anh-3.png" class="image-4 image-filter" alt="ảnh biệt thự">
                <div class="button-3d" >
                    <button><img src="/libary/room_detail/slide-show/cube-2.svg" alt=""></button>
                </div>
            </div>
            <div class="image-5 position-relative d-flex">
                <img src="/libary/room_detail/slide-show/anh-2.png" class="image-5" style="filter: brightness(60%);" alt="ảnh biệt thự">
                <button id="" name="" class="button-show-all">Xem tất cả</button>
            </div>
        </div>

    </div>
    </div>
</body>

</html>