<!DOCTYPE html>
<html lang="en">

<head>
    <!-- page title change in here -->
    <title>test</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-modal_room-detail/custom-modal.css" rel="stylesheet">

</head>

<body>

    <div class="coupon-modal" id="coupon-modal" name="coupon-modal">
        <div class="coupon-modal-content custom_scroll">

            <!-- title modal ticket -->
            <div class="ticket-title">
                <span class="heading-5 text-greyscale-900">Chọn ưu đãi</span>
            </div>

            <!-- input ticket code and button -->
            <div class="ticket-text-field">
                <input id="ticket-code" type="text" class="ticket-input body-16-medium text-grey-900" name="ticket-code"
                    placeholder="Nhập mã ưu đãi">
                <button id="" class="ticket-button body-18-bold text-greyscale-50" name="ticket-submit">Áp dụng</button>
            </div>

            <!-- divider dasher -->
            <div class="ticket-divider">
                <div class="ticket-divider-dasher"></div>
            </div>

            <!-- list ticket and radio button -->
            <div class="list-ticket">

                <!-- list ticket avable -->
                <div class="list-ticket-row">
                    <div style="width: 18px;">
                        <input type="radio" name="radio" id="" checked />
                    </div>
                    <div class="ticket-avaible">
                        <div class="d-flex justify-content-between">
                            <div class="w-70">
                                <span class="body-16-medium text-main-secondary">Giảm 200k cho phòng từ 2 triệu đến 10
                                    triệu
                                </span>
                            </div>
                            <button id="" class="body-14-medium text-semantic-1" name="btn_open-coupon-detail">Chi
                                tiết</button>
                        </div>

                        <div class="d-flex gap-4px mt-2px">
                            <span class="body-12-medium text-grey-500">Thời gian đặt: </span>
                            <span class="body-12-medium text-grey-900">09:00 30/11/2022 - 23:59 30/12/2022 </span>
                        </div>

                        <div class="d-flex gap-4px mt-2px mb-2">
                            <span class="body-12-medium text-grey-500">Thời gian lưu trú:</span>
                            <span class="body-12-medium text-grey-900"> 09:00 30/11/2022 - 23:59 30/12/2022 </span>
                        </div>
                    </div>
                </div>

                <div class="list-ticket-row">
                    <div style="width: 18px;">
                        <input type="radio" name="radio" id="" />
                    </div>
                    <div class="ticket-avaible">
                        <div class="d-flex justify-content-between">
                            <div class="w-70">
                                <span class="body-16-medium text-main-secondary">Giảm 200k cho phòng từ 2 triệu đến 10
                                    triệu
                                </span>
                            </div>
                            <button id="" class="body-14-medium text-semantic-1" name="btn_open-coupon-detail">Chi
                                tiết</button>
                        </div>

                        <div class="d-flex gap-4px mt-2px">
                            <span class="body-12-medium text-grey-500">Thời gian đặt: </span>
                            <span class="body-12-medium text-grey-900">09:00 30/11/2022 - 23:59 30/12/2022 </span>
                        </div>

                        <div class="d-flex gap-4px mt-2px mb-2">
                            <span class="body-12-medium text-grey-500">Thời gian lưu trú:</span>
                            <span class="body-12-medium text-grey-900"> 09:00 30/11/2022 - 23:59 30/12/2022 </span>
                        </div>
                    </div>
                </div>

                <!-- list ticket disable -->
                <div class="list-ticket-row">
                    <div style="width: 18px;">
                        <input type="radio" name="radio" id="" disabled />
                    </div>
                    <div class="ticket-disable">
                        <div class="d-flex justify-content-between">
                            <div class="w-70">
                                <span class="body-16-medium text-greyscale-500">Giảm 200k cho phòng từ 2 triệu đến 10
                                    triệu
                                </span>
                            </div>
                            <button id="" class="body-14-medium text-greyscale-500" name="btn_open-coupon-detail"
                                disabled>Chi tiết</button>
                        </div>

                        <div class="d-flex gap-4px mt-2px">
                            <span class="body-12-medium text-grey-500">Thời gian đặt: </span>
                            <span class="body-12-medium text-grey-900">09:00 30/11/2022 - 23:59 30/12/2022 </span>
                        </div>

                        <div class="d-flex gap-4px mt-2px mb-2">
                            <span class="body-12-medium text-grey-500">Thời gian lưu trú:</span>
                            <span class="body-12-medium text-grey-900"> 09:00 30/11/2022 - 23:59 30/12/2022 </span>
                        </div>
                    </div>
                </div>

                <div class="list-ticket-row">
                    <div style="width: 18px;">
                        <input type="radio" name="radio" id="" disabled />
                    </div>
                    <div class="ticket-disable">
                        <div class="d-flex justify-content-between">
                            <div class="w-70">
                                <span class="body-16-medium text-greyscale-500">Giảm 200k cho phòng từ 2 triệu đến 10
                                    triệu
                                </span>
                            </div>
                            <button id="" class="body-14-medium text-greyscale-500" name="btn_open-coupon-detail"
                                disabled>Chi tiết</button>
                        </div>

                        <div class="d-flex gap-4px mt-2px">
                            <span class="body-12-medium text-grey-500">Thời gian đặt: </span>
                            <span class="body-12-medium text-grey-900">09:00 30/11/2022 - 23:59 30/12/2022 </span>
                        </div>

                        <div class="d-flex gap-4px mt-2px mb-2">
                            <span class="body-12-medium text-grey-500">Thời gian lưu trú:</span>
                            <span class="body-12-medium text-grey-900"> 09:00 30/11/2022 - 23:59 30/12/2022 </span>
                        </div>
                    </div>
                </div>

            </div>

            <!-- button submit -->
            <div class="p-4">
                <button id="btn_close-modal-coupon-list" class="button-submit-full-width" name="">
                    <span class="body-16-bold text-white">Đóng</span>
                </button>
            </div>
        </div>
    </div>

</body>

</html>