<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-modal_room-detail/custom-modal.css" rel="stylesheet">
</head>

<body>
    <div class="room-option-modal" id="room-option-modal" name="room-option-modal">
        <div class="room-option-modal-content hide-scroll-bar">
            <!-- title` -->
            <div class="">
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <img src="/libary/room_detail/svg/house.svg" alt="">
                        <span class="body-14-medium text-semantic-1 ml-1">Phòng King</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="/libary/room_detail/svg/close-no-circle.svg" alt="" id="close-all-comment"
                            class="cursor-pointer">
                    </div>
                </div>
                <div class="mt-2">
                    <span class="heading-3 text-greyscale-700">Phòng Hoa hồng</span>
                </div>
            </div>
            <!-- pictures grid -->
            <div class="mt-4">
                <div class="image-grid-container-modal">
                    <img src="/libary/room_detail/modal-option/pre-view-img-1.png" class="image-1" alt="ảnh biệt thự">
                    <img src="/libary//room_detail/modal-option/pre-view-img-2.png" class="image-2" alt="ảnh biệt thự">
                    <img src="/libary//room_detail/modal-option/pre-view-img-3.png" class="image-3" alt="ảnh biệt thự">
                    <img src="/libary//room_detail/modal-option/pre-view-img-4.png" class="image-4" alt="ảnh biệt thự">
                    <img src="/libary//room_detail/modal-option/pre-view-img-5.png" class="image-5" alt="ảnh biệt thự">
                </div>
                <div>

                </div>
                <!-- info -->
                <div class="mt-4">
                    <div>
                        <span class="body-16-bold text-greyscale-900">Thông tin</span>
                    </div>
                    <div class="mt-2">
                        <span class="body-14-regular text-greyscale-700">Flamingo Dai Lai Resort có các biệt thự sang
                            trọng nằm giữa một phong cảnh yên bình ở thị trấn Phúc Yên. Nằm trong bán kính chỉ 1,5 km từ
                            Sân Gôn Đại Lải, nơi nghỉ này có hồ bơi ngoài trời và nhà hàng ngay trong khuôn viên.</span>
                    </div>
                    <div class="mt-3">
                        <span class="body-14-regular text-greyscale-700">Khách có thể truy cập Wi-Fi miễn phí tại đây.
                            Cung cấp một nơi trú ẩn, các biệt thự hiện đại có sàn lát gạch và những tấm ốp tường bằng
                            gỗ. Các biệt thự được trang bị cả máy lạnh lẫn máy sưởi, truyền hình cáp màn hình phẳng
                            và minibar. Ngoài ra còn có khu vực tiếp khách. Phòng tắm riêng rộng rãi đi kèm với vòi sen,
                            bồn tắm và đồ vệ sinh cá nhân miễn phí. Mỗi biệt thự còn được cung cấp 2 xe đạp miễn phí để
                            khách có thể khám phá khu vực.</span>
                    </div>
                </div>
                <!-- amenities -->
                <div class="mt-3">
                    <!-- title -->
                    <div>
                        <span class="body-16-bold text-greyscale-900">Tiện ích đi kèm</span>
                    </div>
                    <div class="d-flex mt-12px">
                        <!-- 1st col -->
                        <div>
                            <div>
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/wifi.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Wifi tốc độ cao</span>
                                </div>
                            </div>
                            <div class="mt-12px">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/washing-machine.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Máy giặt</span>
                                </div>
                            </div>
                            <div class="mt-12px">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/ac.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Điều hoà</span>
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Dọn phòng hàng ngày</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Máy bán hàng tự động (đồ
                                        uống)</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Lưu trữ hành lý</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Nhận/trả phòng cấp tốc</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Giặt ủi</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Trung tâm thương mại</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Quầy lễ tân 24 giờ</span>
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Bãi đỗ xe an toàn</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Bãi đỗ xe cao cấp</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Gara đỗ xe</span>
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Tivi màn hình phẳng</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Kênh truyền hình cáp</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Điện thoại cố định</span>
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Bàn ghế ngoài trời</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Ban công ngoài trời</span>
                                </div>
                            </div>
                        </div>
                        <!-- 2nd col -->
                        <div class="ml-4">
                            <div>
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/tv.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Tivi 54 inch</span>
                                </div>
                            </div>
                            <div class="mt-12px">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/trellis.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Tủ đầu giường</span>
                                </div>
                            </div>
                            <div class="mt-12px">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/glove.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Nhà bếp</span>
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Bình chữa cháy</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">CCTV bên ngoài tài sản</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">CCTV ở các khu vực chung</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Chuông báo khói</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Báo động an ninh</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Truy cập thẻ chìa khóa</span>
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Cửa hàng tiện lợi trên trang
                                        web</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Khu vực hút thuốc được chỉ
                                        định</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Điều hòa nhiệt độ</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Phòng cách âm</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Thang máy</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Phòng gia đình</span>
                                </div>
                            </div>
                        </div>
                        <!-- 3rd col -->
                        <div class="ml-4">
                            <div>
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/tv.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Tủ lạnh</span>
                                </div>
                            </div>
                            <div class="mt-12px">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/trellis.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Bồn tắm</span>
                                </div>
                            </div>
                            <div class="mt-12px">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/glove.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">An ninh 24 giờ</span>
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Giấy vệ sinh</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Khăn tắm</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Phòng tắm riêng</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Phòng vệ sinh</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Đồ dùng nhà tắm</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Máy sấy tóc</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Vòi hoa sen</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Khăn tắm</span>
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Vải bông mềm mại</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Tủ quần áo</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Ga giường</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Đèn đọc sách</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/libary/room_detail/svg/check-circle.svg" alt="" />
                                    <span class="body-12-medium text-greyscale-500 ml-2">Đèn ngủ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>