<!DOCTYPE html>
<html lang="en">

<head>
    <!-- page title change in here -->
    <title>test</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-modal_room-detail/custom-modal.css" rel="stylesheet">
    <link href="/css/custom-modal.css" rel="stylesheet">

</head>

<body>


    <div class="coupon-detail-modal" id="coupon-detail-modal" name="coupon-detail-modal" style="display: block;">
        <div class="coupon-modal-content-detail custom_scroll">
            <div class="coupon-modal-detail-title">
                <span class="heading-6 text-white">Chi tiết</span>
            </div>

            <!-- ticket modal ticket code -->
            <div class="coupon-modal-code-spacing">
                <div class="coupon-modal-code ">
                    <div class="mt-2">
                        <span class="heading-5 text-main-secondary">Giảm 200k cho phòng từ 2 triệu</span>
                    </div>
                    <div class="mb-2">
                        <span class="body-16-bold text-greyscale-700">GIAMGIA2010BC1</span>
                    </div>
                </div>
            </div>

            <div class="ticket-description">
                <!-- ticket modal description -->
                <div class="d-flex flex-column gap-8px mt-24px">
                    <span class="body-18-bold text-greyscale-900">Mô tả</span>
                    <span class="body-16-medium text-greyscale-500">Khách sẽ lưu trú tại Villa 1 phòng ngủ tại khu Hilltop
                        Villa hoặc Forest Villa. Diện tích Villa 1 phòng ngủ Flamingo Đại Lại từ 72 – 140m2, với thiết
                        kế hoà quyện cùng thiên nhiên, nội thất cao cấp, phòng tắm với bồn tắm nằm.</span>
                </div>

                <!-- ticket time apply  -->
                <div class="d-flex flex-column gap-8px mt-24px">
                    <span class="body-18-bold text-greyscale-900">Thời gian áp dụng</span>
                    <ul class="mt-8">
                        <li class="body-16-medium text-greyscale-500">Thời gian đặt: 09:00 03/10/2022 - 23:59 30/11/2022
                        </li>
                        <li class="body-16-medium text-greyscale-500">Thời gian lưu trú: 01/12/2022 – 31/05/2023 (loại
                            trừ giai đoạn lễ tết)</li>
                    </ul>
                </div>

                <!-- ticket Conditions apply -->
                <div class="d-flex flex-column gap-8px mt-24px">
                    <span class="body-18-bold text-greyscale-900">Điều kiện áp dụng</span>
                    <ul class="mt-8">
                        <li class="body-16-medium text-greyscale-500">Số lượng mã không giới hạn</li>
                        <li class="body-16-medium text-greyscale-500">Khống giới hạn số lần sử dụng trên mỗi khách</li>
                    </ul>
                </div>

                <!-- button apply or back -->
                <div class="d-flex flex-row gap-16px mt-32px mb-24px">
                    <button id="btn_back-to-coupon-list" class="button-50-bg-white-rounder-8 body-16-bold text-main-secondary" name="">Trở
                        về</button>
                    <button id="btn_apply-coupon" class="button-50-bg-main-rounder-8 body-16-bold text-white" name="">Áp dụng</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>