<!DOCTYPE html>
<html lang="en">

<head>
    <!-- page title change in here -->
    <title>test</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-modal_room-detail/custom-modal.css" rel="stylesheet">
    <link href="/css/custom-modal.css" rel="stylesheet">

</head>

<body>


    <div class="discount-detail-modal" id="discount-detail-modal" name="discount-detail-modal">
        <div class="discount-detail-modal-content">
            <div class="pb-58px pt-4 pl-4 bg-main">
                <span class="heading-5 text-white">Chi tiết</span>
            </div>

            <!-- ticket modal ticket code -->
            <div class="title-sale-modal">
                <div class="title-sale d-flex">
                    <span class="heading-5 text-main-secondary">Giảm 200k cho phòng từ 2 triệu</span>
                </div>
            </div>
            <div class="ticket-description">
                <!-- ticket modal description -->
                <div class="d-flex flex-column gap-8px mt-24px">
                    <span class="body-18-bold text-grey-900">Mô tả</span>
                    <span class="body-16-medium text-greyscale-500">Khách sẽ lưu trú tại Villa 1 phòng ngủ tại khu Hilltop
                        Villa hoặc Forest Villa. Diện tích Villa 1 phòng ngủ Flamingo Đại Lại từ 72 – 140m2, với thiết
                        kế hoà quyện cùng thiên nhiên, nội thất cao cấp, phòng tắm với bồn tắm nằm.</span>
                </div>

                <!-- ticket time apply  -->
                <div class="d-flex flex-column gap-8px mt-24px">
                    <span class="body-18-bold text-grey-900">Thời gian áp dụng</span>
                    <ul class="mt-8">
                        <li class="body-16-medium text-greyscale-500">Thời gian đặt: 09:00 03/10/2022 - 23:59 30/11/2022
                        </li>
                        <li class="body-16-medium text-greyscale-500">Thời gian lưu trú: 01/12/2022 – 31/05/2023 (loại
                            trừ giai đoạn lễ tết)</li>
                    </ul>
                </div>

                <!-- ticket Conditions apply -->
                <div class="d-flex flex-column gap-8px mt-24px">
                    <span class="body-18-bold text-grey-900">Điều kiện áp dụng</span>
                    <ul class="mt-8">
                        <li class="body-16-medium text-greyscale-500">Số lượng mã không giới hạn</li>
                        <li class="body-16-medium text-greyscale-500">Khống giới hạn số lần sử dụng trên mỗi khách</li>
                    </ul>
                </div>

                <!-- button close -->
                <button id="btn_close-modal-detail-sale" class="button-100-main-rounder-8 body-16-bold text-white mt-32px">Đóng</button>
            </div>
        </div>
    </div>

</body>

</html>