!
<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/room-details/your-choice.css" rel="stylesheet">
</head>

<body>
    <div class="">
        <div class="price-tooltip" style="left: 10%;">
            <div class="current-price">
                <span class="body-16-bold text-greyscale-900">
                    Giá gốc
                </span>
                <span id="" class="body-16-bold text-greyscale-900 " style="text-decoration: line-through;">
                    2,540,000đ
                </span>
            </div>

            <div class="price-sale-off mt-8px">
                <span class="body-16-bold text-greyscale-900">Giá đã giảm</span>
                <ul id="sale-off-list" class="mt-8px">
                    <li id="price-1">
                        <span id="" class="body-14-medium text-greyscale-900 text-underline">Giảm 200k cho phòng từ 2
                            triệu đến 10 triệu</span>
                        <span id="sale-off-price" class="body-14-medium text-greyscale-900 ml-28px">2,240,000đ</span>
                        <div class="price-tooltip-details">
                            <div class="arrow-up-price-tooltip"></div>
                            <div class="detail-tooltip">
                                <div class="d-flex justify-content-between">
                                    <span class="body-14-medium text-black">Đêm 1 (20/1) x 1 phòng</span>
                                    <span class="body-14-medium text-greyscale-900">2,240,000đ x 1</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="body-14-medium text-black">Đêm 2 (21/1) x 1 phòng</span>
                                    <span class="body-14-medium text-greyscale-900">2,240,000đ x 1</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="body-14-medium text-black">Đêm 3 (22/1) x 1 phòng</span>
                                    <span class="body-14-medium text-greyscale-900">2,240,000đ x 1</span>
                                </div>
                            </div>  
                        </div>
                    </li>
                    <li id="">
                        <span id="" class="body-14-medium text-greyscale-900 text-underline">Giảm 200k cho phòng từ 2 triệu đến 10
                            triệu</span>
                        <span id="" class="body-14-medium text-greyscale-900 ml-28px">2,240,000đ</span>
                    </li>
                    <li id="">
                        <span id="" class="body-14-medium text-greyscale-900 text-underline">Giảm 200k cho phòng từ 2 triệu đến 10
                            triệu</span>
                        <span id="" class="body-14-medium text-greyscale-900 ml-28px">2,240,000đ</span>
                    </li>

                </ul>
            </div>

            <div class="divider-x-other-line">

            </div>

            <div class="best-price mt-10px">
                <span class="body-16-bold text-greyscale-900">Giá tốt nhất</span>
                <span class="body-18-bold text-success">1,540,000đ</span>
            </div>
            <!-- triangle bottom -->
            <div class="arrow-down-price-tooltip"></div>
        </div>
    </div>
</body>

</html>