<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/main.css" rel="stylesheet">
    </head>
    <body>
        <!-- container -->
        <div class="container d-flex flex-column align-items-center">
                <div>
                    <img src="/libary/booking/booking-card/empty.png" alt="">
                </div>
                <div class="mt-32px d-flex flex-column align-items-center">
                    <div>
                        <span class="heading-3 text-greyscale-900">Chưa có chuyến đi nào được đặt</span>
                    </div>
                    <div>
                        <span class="body-18-medium text-greyscale-500">Đã đến lúc thu dọn hành lý và bắt đầu lên kế hoạch cho chuyến nghỉ dưỡng tiếp theo của bạn</span>
                    </div>
                </div>
                <div>
                <button class="body-16-bold text-white button-main-gradient mt-32px">Bắt đầu tìm kiếm</button>
            </div>
        </div>
    </body>
</html>