<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom-booking-detail/custom-booking-detail.css" rel="stylesheet">
    <link href="/css/custom-payment/custom-payment.css" rel="stylesheet">
    <link href="/css/custom-booking-list/booking-list.css" rel="stylesheet">
</head>

<body>
    <!-- container -->
    <div class="d-flex flex-column gap-24px container">
        <!-- card booking -->
        <!-- 1st card  -->
        <div class="d-flex list-card-booking gap-24px ">
            <div class="">
                <img src="/libary/booking/booking-card/showcase-img-booking-list.png" alt="">
            </div>
            <div class="">
                <div class="d-flex align-items-center">
                    <img src="/libary/booking/svg/home-small.svg" alt="">
                    <span class="body-10-medium text-semantic-1 ml-1">Biệt thự</span>
                </div>
                <div class="mt-6px">
                    <span class="body-18-bold text-greyscale-900">Beverly Springfield</span>
                </div>
                <div class="d-flex align-items-center mt-6px">
                    <img src="/libary/booking_detail/svg/location.svg" alt="">
                    <span class="body-12-bold text-greyscale-500 ml-1">Flamingo Đại Lải Resort</span>
                </div>
                <div class="d-flex gap-16px align-items-center card-time justify-content-between mt-3">
                    <div class="d-flex flex-column">
                        <span class="body-10-medium-line-14 text-semantic-1 ">NHẬN PHÒNG</span>
                        <span class="body-16-medium text-greyscale-900 mt-1">22/10/2022</span>
                        <span class="body-12-regular text-greyscale-500 mt-1">12:00</span>
                    </div>
                    <div class="d-flex align-items-center number-nights">
                        <img src="/libary/payment/svg/nightlight.svg" alt="">
                        <span class="body-14-medium text-greyscale-900 ml-1">2</span>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                            <span class="body-10-medium-line-14 text-semantic-1">TRẢ PHÒNG</span>
                            <span class="body-16-medium text-greyscale-900 mt-1">24/10/2022</span>
                            <span class="body-12-regular text-greyscale-500 mt-1">23:59</span>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-10px mt-3">
                    <div class="d-flex align-items-center">
                        <img src="/libary/booking/svg/home-2.svg" alt="">
                        <span class="body-14-medium text-greyscale-900 ml-6px">Nguyên căn</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="/libary/booking_detail/svg/user-plus.svg" alt="">
                        <span class="body-14-medium text-greyscale-900 ml-6px">4</span>
                        <span class="body-14-medium text-greyscale-900 ml-1">khách</span>
                    </div>
                </div>
            </div>
            <div class="w-100 d-flex flex-column justify-content-between align-items-end">
                <div class="d-flex flex-column align-items-end gap-10px">
                    <div class="d-flex align-items-center">
                        <span class="body-14-bold text-greyscale-500">MÃ ĐẶT PHÒNG: </span>
                        <span class="body-14-bold text-greyscale-900 mr-1">776476467276</span>
                        <img src="/libary/booking/svg/small-copy.svg" class="cursor-pointer" alt="">
                    </div>
                    <div class="">
                        <span class="heading-4 text-greyscale-900">10.540.000đ</span>
                    </div>
                    <div class="px-2 py-2 waiting-payment bg-greyscale-50">
                        <span class="body-12-bold" id="">CHỜ THANH TOÁN</span>
                    </div>
                    <div class="">
                        <span class="body-14-medium text-1">Cần hoàn thành thanh toán trong</span>
                        <span class="body-14-bold text-error">09:45</span>
                    </div>
                </div>
                <div class="px-18px py-3 d-flex align-items-center">
                    <a href="/pages/booking/order-details/waiting-payment.html" class="details-booking">Xem chi tiết</a>
                    <img src="/libary/booking/svg/arrow-right.svg" alt="">
                </div>
            </div>
        </div>
        <!-- 2nd -->
        <div class="d-flex list-card-booking gap-24px ">
            <div class="">
                <img src="/libary/booking/booking-card/showcase-img-booking-list.png" alt="">
            </div>
            <div class="">
                <div class="d-flex align-items-center">
                    <img src="/libary/booking/svg/home-small.svg" alt="">
                    <span class="body-10-medium text-semantic-1 ml-1">Biệt thự</span>
                </div>
                <div class="mt-6px">
                    <span class="body-18-bold text-greyscale-900">Beverly Springfield</span>
                </div>
                <div class="d-flex align-items-center mt-6px">
                    <img src="/libary/booking_detail/svg/location.svg" alt="">
                    <span class="body-12-bold text-greyscale-500 ml-1">Flamingo Đại Lải Resort</span>
                </div>
                <div class="d-flex gap-16px align-items-center card-time justify-content-between mt-3">
                    <div class="d-flex flex-column">
                        <span class="body-10-medium-line-14 text-semantic-1 ">NHẬN PHÒNG</span>
                        <span class="body-16-medium text-greyscale-900 mt-1">22/10/2022</span>
                        <span class="body-12-regular text-greyscale-500 mt-1">12:00</span>
                    </div>
                    <div class="d-flex align-items-center number-nights">
                        <img src="/libary/payment/svg/nightlight.svg" alt="">
                        <span class="body-14-medium text-greyscale-900 ml-1">2</span>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                            <span class="body-10-medium-line-14 text-semantic-1">TRẢ PHÒNG</span>
                            <span class="body-16-medium text-greyscale-900 mt-1">24/10/2022</span>
                            <span class="body-12-regular text-greyscale-500 mt-1">23:59</span>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-10px mt-3">
                    <div class="d-flex align-items-center">
                        <img src="/libary/booking/svg/home-2.svg" alt="">
                        <span class="body-14-medium text-greyscale-900 ml-6px">Nguyên căn</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="/libary/booking_detail/svg/user-plus.svg" alt="">
                        <span class="body-14-medium text-greyscale-900 ml-6px">4</span>
                        <span class="body-14-medium text-greyscale-900 ml-1">khách</span>
                    </div>
                </div>
            </div>
            <div class="w-100 d-flex flex-column justify-content-between align-items-end">
                <div class="d-flex flex-column align-items-end gap-10px">
                    <div class="d-flex align-items-center">
                        <span class="body-14-bold text-greyscale-500">MÃ ĐẶT PHÒNG: </span>
                        <span class="body-14-bold text-greyscale-900 mr-1">776476467276</span>
                        <img src="/libary/booking/svg/small-copy.svg" class="cursor-pointer" alt="">
                    </div>
                    <div class="">
                        <span class="heading-4 text-greyscale-900">10.540.000đ</span>
                    </div>
                    <div class="px-2 py-2 completed-payment">
                        <span class="body-12-bold">Đã đặt phòng</span>
                    </div>
                    <div class="payment-time">
                        <span class="body-14-medium text-1">Cần hoàn thành thanh toán trong</span>
                        <span class="body-14-bold text-error">09:45</span>
                    </div>
                </div>
                <div class="px-18px py-3 d-flex align-items-center">
                    <a href="/pages/booking/order-details/complete-order.html" class="details-booking">Xem chi tiết</a>
                    <img src="/libary/booking/svg/arrow-right.svg" alt="">
                </div>
            </div>
        </div>
        <!-- 3rd -->
        <div class="d-flex list-card-booking gap-24px ">
            <div class="">
                <img src="/libary/booking/booking-card/showcase-img-booking-list.png" alt="">
            </div>
            <div class="">
                <div class="d-flex align-items-center">
                    <img src="/libary/booking/svg/home-small.svg" alt="">
                    <span class="body-10-medium text-semantic-1 ml-1">Biệt thự</span>
                </div>
                <div class="mt-6px">
                    <span class="body-18-bold text-greyscale-900">Beverly Springfield</span>
                </div>
                <div class="d-flex align-items-center mt-6px">
                    <img src="/libary/booking_detail/svg/location.svg" alt="">
                    <span class="body-12-bold text-greyscale-500 ml-1">Flamingo Đại Lải Resort</span>
                </div>
                <div class="d-flex gap-16px align-items-center card-time justify-content-between mt-3">
                    <div class="d-flex flex-column">
                        <span class="body-10-medium-line-14 text-semantic-1 ">NHẬN PHÒNG</span>
                        <span class="body-16-medium text-greyscale-900 mt-1">22/10/2022</span>
                        <span class="body-12-regular text-greyscale-500 mt-1">12:00</span>
                    </div>
                    <div class="d-flex align-items-center number-nights">
                        <img src="/libary/payment/svg/nightlight.svg" alt="">
                        <span class="body-14-medium text-greyscale-900 ml-1">2</span>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                            <span class="body-10-medium-line-14 text-semantic-1">TRẢ PHÒNG</span>
                            <span class="body-16-medium text-greyscale-900 mt-1">24/10/2022</span>
                            <span class="body-12-regular text-greyscale-500 mt-1">23:59</span>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-10px mt-3">
                    <div class="d-flex align-items-center">
                        <img src="/libary/booking/svg/home-2.svg" alt="">
                        <span class="body-14-medium text-greyscale-900 ml-6px">Nguyên căn</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="/libary/booking_detail/svg/user-plus.svg" alt="">
                        <span class="body-14-medium text-greyscale-900 ml-6px">4</span>
                        <span class="body-14-medium text-greyscale-900 ml-1">khách</span>
                    </div>
                </div>
            </div>
            <div class="w-100 d-flex flex-column justify-content-between align-items-end">
                <div class="d-flex flex-column align-items-end gap-10px">
                    <div class="d-flex align-items-center">
                        <span class="body-14-bold text-greyscale-500">MÃ ĐẶT PHÒNG: </span>
                        <span class="body-14-bold text-greyscale-900 mr-1">776476467276</span>
                        <img src="/libary/booking/svg/small-copy.svg" class="cursor-pointer" alt="">
                    </div>
                    <div class="">
                        <span class="heading-4 text-greyscale-900">10.540.000đ</span>
                    </div>
                    <div class="px-2 py-2 cancel-payment">
                        <span class="body-12-bold">ĐÃ HỦY</span>
                    </div>
                    <div class="payment-time">
                        <span class="body-14-medium text-1">Cần hoàn thành thanh toán trong</span>
                        <span class="body-14-bold text-error">09:45</span>
                    </div>
                </div>
                <div class="px-18px py-3 d-flex align-items-center">
                    <a href="/pages/booking/order-details/user-successfully-cancel.html" class="details-booking">Xem chi tiết</a>
                    <img src="/libary/booking/svg/arrow-right.svg" alt="">
                </div>
            </div>
        </div>
        <!-- 4th -->
        <div class="d-flex list-card-booking gap-24px ">
            <div class="">
                <img src="/libary/booking/booking-card/showcase-img-booking-list.png" alt="">
            </div>
            <div class="">
                <div class="d-flex align-items-center">
                    <img src="/libary/booking/svg/home-small.svg" alt="">
                    <span class="body-10-medium text-semantic-1 ml-1">Biệt thự</span>
                </div>
                <div class="mt-6px">
                    <span class="body-18-bold text-greyscale-900">Beverly Springfield</span>
                </div>
                <div class="d-flex align-items-center mt-6px">
                    <img src="/libary/booking_detail/svg/location.svg" alt="">
                    <span class="body-12-bold text-greyscale-500 ml-1">Flamingo Đại Lải Resort</span>
                </div>
                <div class="d-flex gap-16px align-items-center card-time justify-content-between mt-3">
                    <div class="d-flex flex-column">
                        <span class="body-10-medium-line-14 text-semantic-1 ">NHẬN PHÒNG</span>
                        <span class="body-16-medium text-greyscale-900 mt-1">22/10/2022</span>
                        <span class="body-12-regular text-greyscale-500 mt-1">12:00</span>
                    </div>
                    <div class="d-flex align-items-center number-nights">
                        <img src="/libary/payment/svg/nightlight.svg" alt="">
                        <span class="body-14-medium text-greyscale-900 ml-1">2</span>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                            <span class="body-10-medium-line-14 text-semantic-1">TRẢ PHÒNG</span>
                            <span class="body-16-medium text-greyscale-900 mt-1">24/10/2022</span>
                            <span class="body-12-regular text-greyscale-500 mt-1">23:59</span>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-10px mt-3">
                    <div class="d-flex align-items-center">
                        <img src="/libary/booking/svg/home-2.svg" alt="">
                        <span class="body-14-medium text-greyscale-900 ml-6px">Nguyên căn</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="/libary/booking_detail/svg/user-plus.svg" alt="">
                        <span class="body-14-medium text-greyscale-900 ml-6px">4</span>
                        <span class="body-14-medium text-greyscale-900 ml-1">khách</span>
                    </div>
                </div>
            </div>
            <div class="w-100 d-flex flex-column justify-content-between align-items-end">
                <div class="d-flex flex-column align-items-end gap-10px">
                    <div class="d-flex align-items-center">
                        <span class="body-14-bold text-greyscale-500">MÃ ĐẶT PHÒNG: </span>
                        <span class="body-14-bold text-greyscale-900 mr-1">776476467276</span>
                        <img src="/libary/booking/svg/small-copy.svg" class="cursor-pointer" alt="">
                    </div>
                    <div class="">
                        <span class="heading-4 text-greyscale-900">10.540.000đ</span>
                    </div>
                    <div class="px-2 py-2 completed-payment">
                        <span class="body-12-bold">ĐÃ HOÀN THÀNH</span>
                    </div>
                    <div class="payment-time">
                        <span class="body-14-medium text-1">Cần hoàn thành thanh toán trong</span>
                        <span class="body-14-bold text-error">09:45</span>
                    </div>
                </div>
                <div class="px-18px py-3 d-flex align-items-center">
                    <a href="/pages/booking/order-details/completed.html" class="details-booking">Xem chi tiết</a>
                    <img src="/libary/booking/svg/arrow-right.svg" alt="">
                </div>
            </div>
        </div>
        <!-- 5th -->
        <div class="d-flex list-card-booking gap-24px ">
            <div class="">
                <img src="/libary/booking/booking-card/showcase-img-booking-list.png" alt="">
            </div>
            <div class="">
                <div class="d-flex align-items-center">
                    <img src="/libary/booking/svg/home-small.svg" alt="">
                    <span class="body-10-medium text-semantic-1 ml-1">Biệt thự</span>
                </div>
                <div class="mt-6px">
                    <span class="body-18-bold text-greyscale-900">Beverly Springfield</span>
                </div>
                <div class="d-flex align-items-center mt-6px">
                    <img src="/libary/booking_detail/svg/location.svg" alt="">
                    <span class="body-12-bold text-greyscale-500 ml-1">Flamingo Đại Lải Resort</span>
                </div>
                <div class="d-flex gap-16px align-items-center card-time justify-content-between mt-3">
                    <div class="d-flex flex-column">
                        <span class="body-10-medium-line-14 text-semantic-1 ">NHẬN PHÒNG</span>
                        <span class="body-16-medium text-greyscale-900 mt-1">22/10/2022</span>
                        <span class="body-12-regular text-greyscale-500 mt-1">12:00</span>
                    </div>
                    <div class="d-flex align-items-center number-nights">
                        <img src="/libary/payment/svg/nightlight.svg" alt="">
                        <span class="body-14-medium text-greyscale-900 ml-1">2</span>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                            <span class="body-10-medium-line-14 text-semantic-1">TRẢ PHÒNG</span>
                            <span class="body-16-medium text-greyscale-900 mt-1">24/10/2022</span>
                            <span class="body-12-regular text-greyscale-500 mt-1">23:59</span>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-10px mt-3">
                    <div class="d-flex align-items-center">
                        <img src="/libary/booking/svg/home-2.svg" alt="">
                        <span class="body-14-medium text-greyscale-900 ml-6px">Nguyên căn</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="/libary/booking_detail/svg/user-plus.svg" alt="">
                        <span class="body-14-medium text-greyscale-900 ml-6px">4</span>
                        <span class="body-14-medium text-greyscale-900 ml-1">khách</span>
                    </div>
                </div>
            </div>
            <div class="w-100 d-flex flex-column justify-content-between align-items-end">
                <div class="d-flex flex-column align-items-end gap-10px">
                    <div class="d-flex align-items-center">
                        <span class="body-14-bold text-greyscale-500">MÃ ĐẶT PHÒNG: </span>
                        <span class="body-14-bold text-greyscale-900 mr-1">776476467276</span>
                        <img src="/libary/booking/svg/small-copy.svg" class="cursor-pointer" alt="">
                    </div>
                    <div class="">
                        <span class="heading-4 text-greyscale-900">10.540.000đ</span>
                    </div>
                    <div class="px-2 py-2 completed-payment">
                        <span class="body-12-bold">ĐÃ HOÀN THÀNH</span>
                    </div>
                    <div class="payment-time">
                        <span class="body-14-medium text-1">Cần hoàn thành thanh toán trong</span>
                        <span class="body-14-bold text-error">09:45</span>
                    </div>
                </div>
                <div class="px-18px py-3 d-flex align-items-center">
                    <a href="/pages/booking/order-details/completed.html" class="details-booking">Xem chi tiết</a>
                    <img src="/libary/booking/svg/arrow-right.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>